---
layout: page
title: Members
description: Regular Attendees of OpenHack Syracuse
---
<!-- main content -->
<div class="row">
    {% assign members = site.data.members | sort: 'name' %}
    {% for member in members %}
    <div class="col-lg-3 col-lg-offset-1 col-md-5 col-md-offset-1">
      <h4 class="text-center">{{ member.name }}</h4>
      <img class="members-img" src="{{member.img }}?s=160"/>

      <div class="text-center">
          {% if member.social.github %}
          <a href="https://www.github.com/{{ member.social.github }}"><i class="fa fa-github"></i></a>
          {% endif %}
          {% if member.social.twitter %}
          <a href="https://www.twitter.com/{{ member.social.twitter }}"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if member.social.facebook %}
          <a href="https://www.facebook.com/{{ member.social.facebook }}"><i class="fa fa-facebook"></i></a>
          {% endif %}
          {% if member.social.linkedin %}
          <a href="https://www.linkedin.com/in/{{ member.social.linkedin }}"><i class="fa fa-linkedin"></i></a>
          {% endif %}
          {% if member.social.website %}
          <a href="{{ member.social.website }}"><i class="fa fa-globe"></i></a>
          {% endif %}
          {% if member.social.email %}
          <a href="mailto:{{ member.social.email }}"><i class="fa fa-envelope"></i></a>
          {% endif %}
          <div class="members-desc">
            {{ member.desc | truncate: 100 }}
          </div>
      </div>
    </div>

    {% capture indexMod %} {{ forloop.index | modulo: 3 }} {% endcapture %}
    {% if indexMod contains "0" %}
      <div class="clearfix visible-md-block visible-lg-block"></div>
    {% endif %}
    {% endfor %}
</div>

<hr>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">All attendees are welcome to join the members page!</h3>
  </div>
  <div class="panel-body">
    <p>Join our members page by taking the following steps:</p>
    <ol>
      <li>Attend an OpenHack!</li>
      <li>Fork the <a href="https://github.com/openhacksyr/openhacksyr.github.io/">website repository on github</a></li>
      <li>Add your info to the <a href="https://github.com/openhacksyr/openhacksyr.github.io/blob/master/_data/members.yaml">member file</a></li>
      <li>Open a Pull Request on Github (See <a href="https://help.github.com/articles/using-pull-requests/">instructions here</a>)</li>
    </ol>
    <p>If any of this seems daunting, please bring it up during the next OpenHack, we'd be happy to help.</p>
  </div>
</div>

