<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="well text-center">
             <p>
             Thanks to our friends at <a href='http://tcgplayer.com'>TCG Player</a> for
             sponsoring OpenHack!! 🎉<br><br>
             <a href="http://tcgplayer.com">
               <img src="{{ site.base_url }}/img/tcgplayer.png" width='450'  style="margin: 0 auto;"/>
             </a>
             </p>
             <blockquote>
               <p><a href="http://tcgplayer.com">TCGplayer.com</a> is an online hub for all things geek
               culture. We build applications and technologies that connect thousands of
               businesses with customers across the globe, powering sales through
               their physical store, website, mobile apps and the TCGplayer
               Marketplace.</p>
             </blockquote>

           </div>
        </div>
    </div>
</div>

